<div class="container px-5 px-sm-0">
  <div class="row">
    <h4><span class="px-3 py-1">会員一覧</span></h4>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">会員ID</th>
            <th scope="col">ユーザーネーム</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer.id) do %>
              <u class="text-body"><%=  customer.name %></u>
              <% end %>
            </td>
            <% if customer.is_deleted  %>
              <td>退会</td>
            <% else %>
              <td><%= content_tag :span, '有効', class: 'text-success' %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>