<div class="container px-5 px-sm-0">

  <h4>シーン編集</h4>

  <div>
    <%= render "error", scene: @scene %>
  </div>

  <%= form_with model: [:admin, @scene] do |f| %>
    <p>
      ジャンル名
      <%= f.text_field :name, placeholder: "シーン名" %>
      <%= f.submit "変更を保存",class: 'btn btn-success' %>
    </p>
  <% end %>

</div>