<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="about text-center">
        <%= image_tag 'about.png', class: "img-fluid" %>
      </div>
      <div class="about text-center">
        <%= image_tag 'about2.png', class: "img-fluid" %>
      </div>
      <div class="about text-center">
        <%= image_tag 'about3.png', class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>
