<div class="card">
  <h7 class="card-title card-header text-center bg-warning text-white">ジャンル検索</h7>
  <div class="card-body">
    <% @scenes.each do |scene| %>
      <%= link_to scene.name, gifts_path(scene_id: scene.id), class: 'd-block text-body mb-2' %>
    <% end %>
  </div>
</div>