<div>
  <h5 class="text-left text-dark"><strong>タグ検索</strong></h5>
  <div>
    <% if tag_list.present? && tag_list.count > 0 %>
      <% tag_list.each do |list| %>
        <% if list.gifts.count > 0 %>
          <div class="mb-2">
            <i class="fas fa-tag"></i>
            <%=link_to list.name, gifts_path(tag_id:list.id) %>
            <%="(#{list.gifts.count})" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>