<div class="field">
    <%#  %>
    <%= f.label "タグ (,で区切ると複数タグ登録できます)" %>
    <%= f.text_field :name,value: @tag_list,class:"form-control"%>
  </div>

　<div class="actions" style="margin:20px 0;">
    <%= f.submit "投稿",class:"btn btn-outline-primary btn-block" %>
  </div>
  <% end %>